<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>AI In Retail Checkout</title>
    <!-- Setting Edge Impulse Icon as favicon :) -->
    <link rel="icon" href="./static/images/mark.svg" type="image/x-icon">
    
    <!-- Link css file in the static folder-->
    <link rel="stylesheet" href="./static/css/index_style.css">

    <script type="text/javascript">
        window.onload = function(){
            alert('Desktop view supported');
        }
    </script>
</head>
<body>
    <div class="header">
        <div id="title">
            <h1 style="font-size: 25px; color: #14151A; text-align: left;">Checkout Management with Computer Vision</h1>
        </div>
        <div id="ei_logo">
            <img src="./static/images/Edge_Impulse_Logo.svg" alt="Edge Impulse Logo" width="200" height="50">
        </div>
        <div id="renesas_logo">
            <img src="./static/images/Renesas_Electronics_logo.svg" alt="Renesas Logo" width="200" height="50">
        </div>
    </div>
    <div class="flex-container">
        <div style="flex-grow: 6; text-align: left;">
            <img src="{{ url_for('video_feed') }}" alt="video footage" style="width: 70%; height:100%; object-fit:contain;">
        </div>  
        <div style="flex-grow: 1;" class="visualization_container">
            <div class="circle cashier1" id="cashier1">Cashier 1: <span id="cashier1_count"></span></div>
            <div class="circle cashier2" id="cashier2">Cashier 2: <span id="cashier2_count"></span></div>
            <div class="circle cashier3" id="cashier3">Cashier 3: <span id="cashier3_count"></span></div>
        </div>
    </div>
    <script type="text/javascript" src="./static/js/processing_and visualization.js"></script>
</body>